<div class="box">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Dr_Who_%28316350537%29.jpg/170px-Dr_Who_%28316350537%29.jpg"/>
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <a href='/book/<%= review.book_id %>'><em><%= review.title %></em></a> <br />
        <%= review.content %> <br />
        by <a href='/user/<%= review.user_id %>'><%= review.username %></a>
        <form class="control" action="/review/<%= review.id %>?_method=DELETE" method="POST">
          <button class="button is-small is-right" type="submit">
          <i class="fa fa-trash" aria-hidden="true"></i>
          </button>
        </form>
      </div>
    </div>
  </article>
</div>
