<%- include partials/header %>
<%- include partials/nav %>

<section class="hero is-warning is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <%= book.title %>
      </h1>
      <h2 class="subtitle">
        by <em><%= book.author %></em>
      </h2>
    </div>
  </div>
</section>
<div>
  Hi There! this is a book.
</div>

<%- include partials/footer %>
